*.o
*.elf
*.lst
*.map
*.sym
*.lss
*.eep
*.srec
*.bin
*.hex
*.al
*.i
*.s
*~
*.AppleDouble*
*.cproject*
*.project*
*.settings*
Release*
temporal.png
temporal_data
config.h
ThermistorTable.h
sim
doc
*xcode*
.DS_Store
*/.DS_Store
